*{
    padding: 0px;
    margin: 0px;

}

.top-list{
    width: 100%;
    background-color: #f4f4f4;
}
.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 65px;
    padding: 1px 25px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 20px;

}
nav ul li{
    list-style: none;
    padding: 0 20px;
    margin-bottom: 20px;

}
nav ul li a{
    text-decoration: none;
    color: rgb(187, 80, 80);
    font-size: smaller;
    text-align: center;
    font-size: 8px;
}
